// The mixins

// mixin for FLEXBOX PARENTS

// sets parent element to display: flex and adds defaults which can be updated
// values for flexbox parent element
// example usage @include flexbox-parent($direction:column,$justify:space-between);
// in the example, values are only set for flex-direction and justify-content, the rest of the properties will inherit the default values
@mixin flexbox-parent($direction:row, $wrap:nowrap, $justify:flex-start, $align-items:stretch, $align-content:stretch) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align-items;
  align-content: $align-content;
}

// mixins for FLEXBOX CHILDREN

// mixin for setting the order of flexbox child elements
// accepts integer values
// only need to use this if changing order of item from source order so no default value is necessary
@mixin order($value) {
  order: $value;
}

// mixin for shorthand flex property 
// example (and default if no values entered): 0 1 auto
// shorthand for flex-grow | flex-shrink | flex-basis
@mixin flex($values:0 1 auto) {
  flex: $values;
}

// mixin for the align-self property
// available values are: auto | flex-start | flex-end | center | baseline | stretch
// default is stretch
@mixin align-self($self:stretch) {
  align-self: $self;
}