// The mixins

// mixin for FLEXBOX PARENTS

// sets parent element to display: flex and adds defaults which can be updated
// values for flexbox parent element
// example usage @include flexbox-parent($direction:column,$justify:space-between);
// in the example, values are only set for flex-direction and justify-content, the rest of the properties will inherit the default values
@mixin flexbox-parent($direction:null, $wrap:null, $justify:null, $align-items:null, $align-content:null) {
  display: flex;
  @if $direction {
    flex-direction: $direction;
  }
  @if $wrap {
    flex-wrap: $wrap;
  }
  @if $justify {
    justify-content: $justify;
  }
  @if $align-items {
    align-items: $align-items;
  }
  @if $align-content {
    align-content: $align-content;
  }
}

// mixins for FLEXBOX CHILDREN

// mixin for setting the order of flexbox child elements
// accepts integer values
// only need to use this if changing order of item from source order so no default value is necessary
@mixin order($value) {
  order: $value;
}

// mixin for shorthand flex property 
// example (and default if no values entered): 0 1 auto
// shorthand for flex-grow | flex-shrink | flex-basis
@mixin flex($values:null) {
  @if $values {
    flex: $values;
  }
}

// mixin for the align-self property
// available values are: auto | flex-start | flex-end | center | baseline | stretch
// default is stretch
@mixin align-self($self:null) {
  @if $self {
    align-self: $self;
  }
}